<a href="https://colab.research.google.com/github/Akshitha2116/23CSBTB39-40/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Part 1 - Implement Basic Data Structures using Numpy, Pandas
import numpy as np
#Lists
#Arrays
#type
list1=[1,2,3,4,5]
print(list1)
print(type(list1))
list2=[11,12,13,14,15]
print(list2)
print(type(list2))
arr1=np.array(list1)
print(arr1)
print(type(arr1))
arr2=np.array(list2)
print(arr2)
print(type(arr2))
#mathematical operations
Add=list1+list2
print("ADDITION OF LISTS:",Add)
Sub=arr1-arr2
print("SUBTRACTION OF LISTS:",Sub)
Multi=arr1*arr2
print("MULTIPLICATION OF LISTS:", Multi)
Div=arr1/arr2
print("DIVISION OF LISTS:",Div)
Power=arr1**arr2
print("POWER OF LISTS:",Power)
#tuple
tuple1=("monitor","mouse","keyboard")
print(tuple1)
print(type(tuple1))
tuple2=(100,200,300)
print(tuple2)
print(type(tuple2))
#sin
sin=np.sin(arr1)
print("SIN VALUE:",sin)
#log
log=np.log(arr1)
print("LOG VALUE:",log)
#log2
log2=np.log2(arr1)
print("LOG2 VALUE:",log2)
#Exp
exp=np.exp(arr1)
print("EXP VALUE:",exp)

[1, 2, 3, 4, 5]
<class 'list'>
[11, 12, 13, 14, 15]
<class 'list'>
[1 2 3 4 5]
<class 'numpy.ndarray'>
[11 12 13 14 15]
<class 'numpy.ndarray'>
ADDITION OF LISTS: [1, 2, 3, 4, 5, 11, 12, 13, 14, 15]
SUBTRACTION OF LISTS: [-10 -10 -10 -10 -10]
MULTIPLICATION OF LISTS: [11 24 39 56 75]
DIVISION OF LISTS: [0.09090909 0.16666667 0.23076923 0.28571429 0.33333333]
POWER OF LISTS: [          1        4096     1594323   268435456 30517578125]
('monitor', 'mouse', 'keyboard')
<class 'tuple'>
(100, 200, 300)
<class 'tuple'>
SIN VALUE: [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
LOG VALUE: [0.         0.69314718 1.09861229 1.38629436 1.60943791]
LOG2 VALUE: [0.         1.         1.5849625  2.         2.32192809]
EXP VALUE: [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]